.version.index /* version checker */
{
	color: #0000F6;
	background-color: #C36B0C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 990px;
	min-height: 2666px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 137px;
	padding-bottom: 23px;
	width: 0.01px;
}

#u985
{
	z-index: 398;
	height: 120px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u985-bw
{
	z-index: 398;
}

#u989
{
	z-index: 416;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -495px;
	background: transparent url("../images/propic-u989-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u154
{
	z-index: 426;
	width: 390px;
	height: 402px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000000 url("../images/propic.jpg") no-repeat center center;
	background-size: cover;
}

#u148
{
	z-index: 415;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -105px;
	background: #4FC0E9 url("../images/user.png") no-repeat center center;
}

#u148:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -105px;
	background: transparent url("../images/user.png") no-repeat center center;
}

#u148.MuseLinkActive
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -105px;
	background: transparent url("../images/user.png") no-repeat center center;
}

#u150
{
	z-index: 417;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -5px;
	background: #A8D32A url("../images/portfolio.png") no-repeat center center;
}

#u150:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -5px;
	background: transparent url("../images/portfolio.png") no-repeat center center;
}

#u150.MuseLinkActive
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px -5px;
	background: transparent url("../images/portfolio.png") no-repeat center center;
}

#u2079
{
	z-index: 418;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 95px;
	background: #F7931E url("../images/portfolio.png") no-repeat center center;
}

#u2079:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 95px;
	background: transparent url("../images/portfolio.png") no-repeat center center;
}

#u2079.MuseLinkActive
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 95px;
	background: transparent url("../images/portfolio.png") no-repeat center center;
}

#u2078
{
	z-index: 419;
	width: 100px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 195px;
	background: #3A5999 url("../images/envelope.png") no-repeat center center;
}

#u2078:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 195px;
	background: transparent url("../images/envelope.png") no-repeat center center;
}

#u2078.MuseLinkActive
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 195px;
	background: transparent url("../images/envelope.png") no-repeat center center;
}

#u172
{
	z-index: 420;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 295px;
	background: #20BAFC url("../images/twitter.png") no-repeat center center;
}

#u172:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 295px;
	background: #1DA7E2 url("../images/twitter.png") no-repeat center center;
}

#u187
{
	z-index: 421;
	width: 100px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 395px;
	background: #EA4B89 url("../images/dribbble.png") no-repeat center center;
}

#u187:hover
{
	width: 100px;
	height: 100px;
	min-height: 0px;
	margin: 0px 0px 0px 395px;
	background: #D1427B url("../images/dribbble.png") no-repeat center center;
}

#u986-4
{
	z-index: 422;
	width: 220px;
	min-height: 45px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 33px;
	left: 50%;
	margin-left: -360px;
}

#u2062-4
{
	z-index: 399;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 73px;
	left: 50%;
	margin-left: -105px;
}

#u2063-4
{
	z-index: 403;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #22B573;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 73px;
	left: 50%;
	margin-left: -5px;
}

#u2064-4
{
	z-index: 407;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #F7931E;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 73px;
	left: 50%;
	margin-left: 95px;
}

#u2065-4
{
	z-index: 411;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 73px;
	left: 50%;
	margin-left: 195px;
}

#u1279-4
{
	z-index: 382;
	width: 398px;
	min-height: 45px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 431px;
	position: relative;
}

#u1280-4
{
	z-index: 386;
	width: 398px;
	min-height: 23px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 22px;
	color: #55C1E7;
	font-size: 18px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 431px;
	margin-top: 4px;
	position: relative;
}

#pexperience
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 22px;
}

#experience
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 96px;
}

#u1281-4
{
	z-index: 390;
	width: 518px;
	min-height: 172px;
	background-color: transparent;
	font-size: 17px;
	text-align: left;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 531px;
}

#u1014-4
{
	z-index: 167;
	width: 199px;
	min-height: 45px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1049
{
	z-index: 270;
	width: 782px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 208px;
}

#pu1016-4
{
	width: 0.01px;
	margin-top: 13px;
}

#u1016-4
{
	z-index: 175;
	width: 213px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #55C1E7;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 71px;
	border-width: 0px 1px 0px 0px;
}

#u1018-4
{
	z-index: 183;
	width: 218px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #55C1E7;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 132px;
	border-width: 0px 1px 0px 0px;
}

#u1020-4
{
	z-index: 187;
	width: 228px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #55C1E7;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 588px;
	border-width: 0px 1px 0px 0px;
}

#u1021-4
{
	z-index: 191;
	width: 213px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #55C1E7;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 588px;
	border-width: 0px 1px 0px 0px;
}

#u1022-4
{
	z-index: 195;
	width: 141px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 314px;
}

#u1024-4
{
	z-index: 203;
	width: 118px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 355px;
}

#u1026-4
{
	z-index: 207;
	width: 141px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 831px;
}

#u1027-4
{
	z-index: 211;
	width: 141px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 831px;
}

#u1028-4
{
	z-index: 215;
	width: 384px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 71px;
}

#u1030-4
{
	z-index: 223;
	width: 341px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 132px;
}

#u1032-4
{
	z-index: 227;
	width: 384px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 588px;
}

#u1033-4
{
	z-index: 231;
	width: 384px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 588px;
}

#u1034-4
{
	z-index: 235;
	width: 472px;
	min-height: 76px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 1px;
}

#u1036-7
{
	z-index: 244;
	width: 472px;
	min-height: 76px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 1px;
}

#u1036-5 > li:before
{
	margin-right: 6px;
}

#u1036-5.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 6px;
}

#u1038-7
{
	z-index: 251;
	width: 472px;
	min-height: 76px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 518px;
}

#u1039-4
{
	z-index: 258;
	width: 472px;
	min-height: 76px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 518px;
}

#u1040
{
	z-index: 262;
	width: 1px;
	height: 325px;
	border-color: #000000;
	background-color: #CDEAF2;
	position: relative;
	margin-right: -10000px;
	left: 494px;
}

#u1041
{
	z-index: 263;
	width: 990px;
	height: 1px;
	border-color: #000000;
	background-color: #CDEAF2;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
}

#u1043
{
	z-index: 265;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1px;
	background: #55C1E7 url("../images/employment.png") no-repeat center center;
}

#u1045
{
	z-index: 267;
	width: 124px;
	height: 55px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 1px;
	background: transparent url("../images/akamai_technologies%2c_inc_logo.png") no-repeat left top;
	background-size: contain;
}

#u1047
{
	z-index: 268;
	width: 55px;
	height: 55px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 518px;
	background: transparent url("../images/liveramp.png") no-repeat left top;
	background-size: cover;
}

#u1048
{
	z-index: 269;
	width: 55px;
	height: 55px;
	border-color: #000000;
	border-radius: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 518px;
	background: #55C1E7 url("../images/employment.png") no-repeat center center;
}

#pu1015-4
{
	width: 0.01px;
	margin-top: 52px;
}

#u1015-4
{
	z-index: 171;
	width: 331px;
	min-height: 45px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1050
{
	z-index: 271;
	width: 659px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 331px;
}

#pu1044
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 36px;
}

#u1044
{
	z-index: 266;
	width: 55px;
	height: 55px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/harvard_shield-college.png") no-repeat center center;
	background-size: contain;
}

#ppu1017-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 70px;
}

#u1017-4
{
	z-index: 179;
	width: 200px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #F7931E;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 1px 0px 0px;
}

#u1023-4
{
	z-index: 199;
	width: 141px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u1029-4
{
	z-index: 219;
	width: 384px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 9px;
	position: relative;
}

#u1051
{
	z-index: 272;
	width: 125px;
	border-color: #000000;
	background-color: #1BA5D7;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 544px;
}

#u1059-4
{
	z-index: 276;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1528
{
	z-index: 342;
	width: 125px;
	border-color: #000000;
	background-color: #1BA5D7;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 681px;
}

#u1529-4
{
	z-index: 346;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1530
{
	z-index: 362;
	width: 125px;
	border-color: #000000;
	background-color: #1BA5D7;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 817px;
}

#u1531-4
{
	z-index: 366;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#pu1035-5
{
	width: 0.01px;
	margin-left: 1px;
}

#u1035-5
{
	z-index: 239;
	width: 472px;
	min-height: 69px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#pu1534
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 545px;
}

#u1534
{
	z-index: 273;
	width: 125px;
	border-color: #000000;
	background-color: #22B573;
	border-radius: 5px;
	position: relative;
}

#u1535-4
{
	z-index: 280;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1540
{
	z-index: 274;
	width: 125px;
	border-color: #000000;
	background-color: #FBB03B;
	border-radius: 5px;
	margin-top: 15px;
	position: relative;
}

#u1541-4
{
	z-index: 284;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#pu1536
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 681px;
}

#u1536
{
	z-index: 343;
	width: 125px;
	border-color: #000000;
	background-color: #22B573;
	border-radius: 5px;
	position: relative;
}

#u1537-4
{
	z-index: 350;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1542
{
	z-index: 344;
	width: 125px;
	border-color: #000000;
	background-color: #FBB03B;
	border-radius: 5px;
	margin-top: 15px;
	position: relative;
}

#u1543-4
{
	z-index: 354;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#pu1538
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 817px;
}

#u1538
{
	z-index: 363;
	width: 125px;
	border-color: #000000;
	background-color: #22B573;
	border-radius: 5px;
	position: relative;
}

#u1539-4
{
	z-index: 370;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1544
{
	z-index: 364;
	width: 125px;
	border-color: #000000;
	background-color: #FBB03B;
	border-radius: 5px;
	margin-top: 15px;
	position: relative;
}

#u1545-4
{
	z-index: 374;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1042
{
	z-index: 264;
	width: 495px;
	height: 1px;
	border-color: #000000;
	background-color: #CDEAF2;
	margin-top: 3px;
	position: relative;
}

#pu1486
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 11px;
}

#u1486
{
	z-index: 318;
	width: 55px;
	height: 55px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	background: transparent url("../images/hunter_logo.jpg") no-repeat center center;
	background-size: contain;
}

#ppu1481-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 70px;
}

#u1481-4
{
	z-index: 292;
	width: 264px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #F7931E;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 1px 0px 0px;
}

#u1482-4
{
	z-index: 296;
	width: 96px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 288px;
}

#u1483-4
{
	z-index: 300;
	width: 384px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 11px;
	position: relative;
}

#u1546
{
	z-index: 275;
	width: 125px;
	border-color: #000000;
	background-color: #C1272D;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 544px;
}

#u1547-4
{
	z-index: 288;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1548
{
	z-index: 345;
	width: 125px;
	border-color: #000000;
	background-color: #C1272D;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u1549-4
{
	z-index: 358;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1550
{
	z-index: 365;
	width: 125px;
	border-color: #000000;
	background-color: #C1272D;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 816px;
}

#u1551-4
{
	z-index: 378;
	width: 100px;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1484-13
{
	z-index: 304;
	width: 472px;
	min-height: 76px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 13px;
	position: relative;
}

#u1485
{
	z-index: 317;
	width: 495px;
	height: 1px;
	border-color: #000000;
	background-color: #CDEAF2;
	margin-top: 20px;
	position: relative;
}

#pu1492
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 17px;
}

#u1492
{
	z-index: 341;
	width: 55px;
	height: 55px;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/img-thing.jpg") no-repeat center center;
	background-size: contain;
}

#ppu1487-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 70px;
}

#pu1017-4,#pu1481-4,#pu1487-4
{
	width: 0.01px;
}

#u1487-4
{
	z-index: 319;
	width: 200px;
	min-height: 23px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #F7931E;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 1px 0px 0px;
}

#u1488-4
{
	z-index: 323;
	width: 190px;
	min-height: 23px;
	background-color: transparent;
	color: #B2B2B2;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#u1489-4
{
	z-index: 327;
	width: 384px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 12px;
	position: relative;
}

#pprojects
{
	width: 0.01px;
	margin-left: -90px;
	margin-top: 7px;
}

#projects
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 82px;
}

#u1490-9
{
	z-index: 331;
	width: 472px;
	min-height: 76px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u1036-5,#u1038-5,#u1035-3,#u1484-11,#u1490-7
{
	padding-left: 18px;
}

#u1036-5.rtl-list,#u1038-5.rtl-list,#u1035-3.rtl-list,#u1484-11.rtl-list,#u1490-7.rtl-list
{
	padding-left: 0px;
	padding-right: 18px;
}

#u1491
{
	z-index: 340;
	width: 495px;
	height: 1px;
	border-color: #000000;
	background-color: #CDEAF2;
	margin-top: 17px;
	position: relative;
}

#pu1686-4
{
	width: 0.01px;
	margin-top: 72px;
}

#u1686-4
{
	z-index: 155;
	width: 154px;
	min-height: 45px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1687
{
	z-index: 159;
	width: 836px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 154px;
}

#u1712-4
{
	z-index: 150;
	width: 466px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #55C1E7;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-top: 31px;
	position: relative;
}

#u1712-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 466px;
	margin: 31px 0px 0px;
}

#u1713-5
{
	z-index: 141;
	width: 990px;
	min-height: 178px;
	background-color: transparent;
	font-size: 17px;
	text-align: left;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 18px;
	position: relative;
}

#u1705
{
	z-index: 154;
	width: 990px;
	height: 1px;
	border-color: #000000;
	background-color: #CDEAF2;
	margin-left: 1px;
	position: relative;
}

#u1688-4
{
	z-index: 146;
	width: 466px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #55C1E7;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 28px;
	position: relative;
}

#u1688-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 466px;
	margin: 28px 0px 0px 1px;
}

#u1711-5
{
	z-index: 136;
	width: 990px;
	min-height: 88px;
	background-color: transparent;
	font-size: 17px;
	text-align: left;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u1710-4
{
	z-index: 132;
	width: 990px;
	min-height: 30px;
	background-color: transparent;
	color: #29ABE2;
	font-size: 17px;
	text-align: left;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 9px;
	position: relative;
}

#u1710-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 990px;
	margin: 9px 0px 0px;
}

#pu1014-4,#pu1564-4
{
	width: 0.01px;
	margin-top: 40px;
}

#u1564-4
{
	z-index: 79;
	width: 128px;
	min-height: 45px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1587
{
	z-index: 93;
	width: 857px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 133px;
}

#u1646-4
{
	z-index: 110;
	width: 894px;
	min-height: 93px;
	background-color: transparent;
	font-size: 17px;
	text-align: left;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 48px;
	margin-top: 35px;
	position: relative;
}

#u1648
{
	z-index: 92;
	width: 990px;
	height: 1px;
	border-color: #000000;
	background-color: #CDEAF2;
	margin-top: 27px;
	position: relative;
}

#ppu1643-4
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 21px;
}

#pu1643-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u1643-4
{
	z-index: 102;
	width: 213px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #55C1E7;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u1644-4
{
	z-index: 106;
	width: 278px;
	min-height: 28px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 18px;
	position: relative;
}

#u1652
{
	z-index: 122;
	width: 280px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#u1664
{
	z-index: 126;
	width: 1px;
	height: 381px;
	border-color: #000000;
	background-color: #CDEAF2;
	position: relative;
	margin-right: -10000px;
	left: 395px;
}

#pu1641-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 511px;
}

#u1641-4
{
	z-index: 94;
	width: 213px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #55C1E7;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u1643-4:hover,#u1641-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 213px;
	margin: 0px;
}

#u1642-4
{
	z-index: 98;
	width: 278px;
	min-height: 28px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 11px;
	position: relative;
}

#u1658
{
	z-index: 124;
	width: 280px;
	background-color: transparent;
	margin-top: 54px;
	position: relative;
}

#u1582
{
	z-index: 91;
	width: 990px;
	height: 1px;
	border-color: #000000;
	background-color: #CDEAF2;
	margin-top: 22px;
	position: relative;
}

#pu1650-4
{
	width: 0.01px;
	margin-left: 102px;
	margin-top: 29px;
}

#u1650-4
{
	z-index: 118;
	width: 213px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #55C1E7;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1649-4
{
	z-index: 114;
	width: 213px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #55C1E7;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#u1650-4:hover,#u1649-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#u1712-4:hover p,#u1688-4:hover p,#u1710-4:hover p,#u1643-4:hover p,#u1641-4:hover p,#u1650-4:hover p,#u1649-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#pportfolio
{
	width: 0.01px;
	margin-left: -84px;
	margin-top: -8px;
}

#portfolio
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 403px;
}

#pu1577-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 167px;
}

#u1577-4
{
	z-index: 83;
	width: 278px;
	min-height: 28px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 19px;
	position: relative;
}

#u1666
{
	z-index: 128;
	width: 304px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u1665
{
	z-index: 127;
	width: 1px;
	height: 432px;
	border-color: #000000;
	background-color: #CDEAF2;
	position: relative;
	margin-right: -10000px;
	left: 579px;
}

#pu1638-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 620px;
}

#u1638-4
{
	z-index: 87;
	width: 278px;
	min-height: 28px;
	background-color: transparent;
	color: #4C4C4C;
	font-size: 13px;
	text-align: left;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 68px;
	position: relative;
}

#u1672
{
	z-index: 130;
	width: 406px;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#pu1155-4
{
	width: 0.01px;
	margin-top: 65px;
}

#u1155-4
{
	z-index: 11;
	width: 229px;
	min-height: 45px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1156
{
	z-index: 15;
	width: 755px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 235px;
}

#slideshowu1157
{
	z-index: 16;
	width: 0.01px;
	height: 1020px;
	margin-top: 28px;
	position: relative;
}

#u1183
{
	position: absolute;
	width: 992px;
	height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 556px;
	left: -380px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1183popup
{
	z-index: 17;
}

#u1894
{
	z-index: 18;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1958
{
	z-index: 20;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1967
{
	z-index: 22;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1976
{
	z-index: 24;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1985
{
	z-index: 26;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1994
{
	z-index: 28;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1994_img
{
	padding-top: 12px;
	padding-bottom: 13px;
}

#u2003
{
	z-index: 30;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2012
{
	z-index: 32;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2021
{
	z-index: 34;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2012_img,#u2021_img
{
	padding-left: 280px;
	padding-right: 279px;
}

#u2030
{
	z-index: 36;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2039
{
	z-index: 38;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2048
{
	z-index: 40;
	width: 948px;
	height: 583px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1894_img,#u1958_img,#u1967_img,#u1976_img,#u1985_img,#u2003_img,#u2030_img,#u2039_img,#u2048_img
{
	padding-left: 37px;
	padding-right: 36px;
}

#u1161
{
	position: absolute;
	width: 990px;
}

#u1161popup
{
	z-index: 42;
}

#u1897
{
	z-index: 43;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u1961
{
	z-index: 45;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u1970
{
	z-index: 47;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 679px;
}

#u1897:hover,#u1961:hover,#u1970:hover
{
	width: 311px;
	height: 234px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1979
{
	z-index: 49;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	left: 340px;
}

#u1988
{
	z-index: 51;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 340px;
}

#u1997
{
	z-index: 53;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 679px;
}

#u2006
{
	z-index: 55;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 786px;
	left: 340px;
}

#u2015
{
	z-index: 57;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	left: 679px;
}

#u2024
{
	z-index: 59;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
}

#u1979:hover,#u2015:hover,#u2024:hover
{
	width: 311px;
	height: 234px;
	min-height: 0px;
	margin: 524px -10000px 0px 0px;
}

#u2033
{
	z-index: 61;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 786px;
	left: 679px;
}

#u2042
{
	z-index: 63;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 786px;
}

#u2006:hover,#u2033:hover,#u2042:hover
{
	width: 311px;
	height: 234px;
	min-height: 0px;
	margin: 786px -10000px 0px 0px;
}

#u2051
{
	z-index: 65;
	width: 311px;
	height: 234px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
}

#u1988:hover,#u1997:hover,#u2051:hover
{
	width: 311px;
	height: 234px;
	min-height: 0px;
	margin: 262px -10000px 0px 0px;
}

#u1897 .clip_frame,#u1961 .clip_frame,#u1970 .clip_frame,#u1979 .clip_frame,#u1988 .clip_frame,#u1997 .clip_frame,#u2006 .clip_frame,#u2015 .clip_frame,#u2024 .clip_frame,#u2033 .clip_frame,#u2042 .clip_frame,#u2051 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u1897_clip,#u1961_clip,#u1970_clip,#u1979_clip,#u1988_clip,#u2006_clip,#u2033_clip,#u2042_clip,#u2051_clip
{
	overflow: hidden;
	width: 311px;
	height: 234px;
}

#u1897_img,#u1961_img,#u1970_img,#u1979_img,#u1988_img,#u2006_img,#u2033_img,#u2042_img,#u2051_img
{
	margin-left: -20px;
	margin-right: -20px;
}

#u1196-4
{
	position: absolute;
	width: 33px;
	min-height: 30px;
	background-color: #FFFFFF;
	line-height: 22px;
	color: #1A1A1A;
	font-size: 16px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	top: 603px;
	left: 50px;
}

#u1196-4popup
{
	z-index: 67;
}

#u1174-4
{
	position: absolute;
	width: 33px;
	min-height: 30px;
	background-color: #FFFFFF;
	line-height: 22px;
	color: #1A1A1A;
	font-size: 16px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	top: 603px;
	left: 150px;
}

#u1174-4popup
{
	z-index: 71;
}

#u1175-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 21px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	top: 603px;
	left: 80px;
}

#u1175-4popup
{
	z-index: 75;
}

#u1196-2,#u1174-2,#u1175-2
{
	padding-top: 3px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#contact
{
	left: -85px;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
}

#pu1229-4
{
	width: 0.01px;
	margin-top: 77px;
}

#u1229-4
{
	z-index: 2;
	width: 370px;
	min-height: 45px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1235
{
	z-index: 6;
	width: 615px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 375px;
}

#u2057-7
{
	z-index: 160;
	width: 990px;
	min-height: 331px;
	background-color: transparent;
	font-size: 17px;
	text-align: left;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 24px;
	position: relative;
}

#u1236-4
{
	z-index: 7;
	width: 320px;
	min-height: 15px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	margin-left: 310px;
	margin-top: 24px;
	position: relative;
}

body
{
	position: relative;
	min-width: 990px;
}

#page .verticalspacer
{
	clear: both;
}

